<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="DemoBlazeMiniProject.DemoBlazeProject.LogOutTest"/>
      <class name="DemoBlazeMiniProject.DemoBlazeProject.ProductTest"/>
      <class name="DemoBlazeMiniProject.DemoBlazeProject.LoginTest"/>
      <class name="DemoBlazeMiniProject.DemoBlazeProject.PurchaseTest"/>
      <class name="DemoBlazeMiniProject.DemoBlazeProject.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
